**/bin/
**/obj/
**/.vs/
**/.vscode/

.git/
.gitignore

.env
.env.*

**/*.user
**/*.suo

**/node_modules/
**/dist/

AgentMonitor.Agent/bin/
AgentMonitor.Agent/obj/

AgentMonitor.Dashboard/node_modules/
AgentMonitor.Dashboard/dist/

*.log